.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Установите значение z-index по вашему усмотрению */
  }
  
  .content {
    padding-top: 60px; /* Установите значение отступа, чтобы контент не перекрывался под Nav */
  }